<% @posts.each do |post| %>
  <div>
    <%= link_to post_path(post.id) do %>
      <%= image_tag post.get_image(100,100) %>
    <% end %>
    <p>投稿ユーザー：<%= post.user.name %></p>
    <p><%= link_to "#{post.comments.count} コメント", post_path(post.id) %></p>
  </div>
<% end %>