
<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <table class='table'>
          <th>name</th>
          <th><%= @user.name %></th>
        </tr>
      </table>
          <% unless @user.guest_user? %>
            <div class="row">
              <%= link_to "編集", edit_information_path(@user), class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{@user.id}" %>
            </div>
          <% end %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>投稿</h2>
        <%= render 'public/posts/index',posts: @posts %>
      <%= link_to "いいねした投稿", favorited_posts_path %>
  </div>
</div>
