<footer class="bg-dark text-white">
  <div class="container mt">
    <div class="row">
      <div class='mx-auto'>
        <p>Copyright @ 2023 Isuue All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>